body {
    margin: 50px 100px;
}

#container {
    margin: auto;
    gap: 10px;

    display: flex;
}

/* Shared */

.CommonContainer {
    width: 30%;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: aquamarine;
    border: 20px solid black;
    border-bottom: 0px;
    padding: 30px 15px;
}

.TextField {
    display: flex; 
    gap: 10px;
}

.TextField p {
    margin: 0;
    font-size: 25px;
}

.ButtonContainer {
    border: 20px solid black;
    background-color: black;
    
}

.Button {
    background-color: rgb(129, 214, 0);
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 20px;
}
.Button:hover {
    background-color: rgba(128, 214, 0, 0.637);
    cursor: pointer;
}

.InputCSS {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: aquamarine;
    padding: 0;
    margin: 0;
    font-size: 25px;
    width: 50%;
}



/* CityList */

#CityListContainer {
    padding: 15px 40px 0px 40px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;

}

#ListTitle {
    font-weight: bolder;
    font-size: 30px;
}

/* AddCity */

#AddedCitiesList {
    display: flex;
    
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;

    background-color: aquamarine;
    height: 100%;
    width: 100%;
    gap: 8px;
}

/* SearchCity */

#SearchCities {
    background-color: aquamarine;
    padding: 20px 20px 0px 20px;
    border-left: 20px solid black;
    border-right: 20px solid black;
    border-bottom: 40px solid black;

    overflow-y: auto;
    overflow-x: hidden;

    height: 300px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}